<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
    package="com.aware.plugin.android.wear">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:theme="@style/Theme.Aware"
        tools:replace="android:theme,android:icon">

        <activity android:name="com.aware.plugin.android.wear.Settings" android:exported="true" android:theme="@style/Theme.Aware"/>

        <service android:name="com.aware.plugin.android.wear.Plugin" android:exported="true" />
        <service android:name="com.aware.plugin.android.wear.Plugin$WearMessenger" android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER"/>
            </intent-filter>
        </service>

        <receiver android:name="com.aware.utils.WearClient$AndroidWearHTTPClient" android:exported="true" android:enabled="false">
            <intent-filter>
                <action android:name="ACTION_AWARE_ANDROID_WEAR_HTTP_GET"/>
                <action android:name="ACTION_AWARE_ANDROID_WEAR_HTTP_POST"/>
                <action android:name="ACTION_AWARE_ANDROID_WEAR_INSTALL_PLUGIN"/>
                <action android:name="ACTION_AWARE_ANDROID_WEAR_JOIN_STUDY"/>
                <action android:name="ACTION_AWARE_ANDROID_WEAR_QUIT_STUDY"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
